@font-face {
    font-family: IpkissZF;
    src: url('fonts/IpkissZF.ttf');
}



* {

    font-family: 'IpkissZF';

}

body {

    background-image: url('assets/pngtree-elegant-dark-purple-striped-wall-texture-image_13840909.png');
    background-color: rgba(128, 0, 128, 0.548);
    display: flex;
    min-height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: column;
    align-items: center;

}

#lista {

    border: solid green;
    border-radius: 15px;
    background: yellow;
    display: flex;
    padding: 10%;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    width: 150px;


}

#titulo {

    text-align: center;
    background-color: yellow;
    color: purple;
    border: solid green;
    border-radius: 10px;
    margin: 1%;
}

#video-abertura {
    border: solid purple;
    border-radius: 20px;
    border-width: 10px
}

#talvez-seja-footer {
    color: yellow;
    margin: 1%;
}